{%load static%}
{%load tags%}

<!DOCTYPE html>
<html lang="es">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>EcoBlog | Informatorio</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->

    <link href="{%static 'css/bootstrap.css'%}" rel="stylesheet">

    <link href="{%static 'css/bootstrap.css' %}" rel="stylesheet">


    <!-- FontAwesome Icons core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom styles for this template -->
    <link href="{%static 'css/style.css' %}" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="{%static 'css/responsive.css' %}" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="{%static 'css/colors.css' %}" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="{%static 'css/version/tech.css' %}" rel="stylesheet">

    <!-- Include stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.23.3/css/medium-editor.css" integrity="sha512-iWJx03fFJWrXXXI6ctpoVaLkB6a4yf9EHNURLEEsLxGyup43eF6LrD3FSPdt1FKnGSE8Zp7JZYEDbATHf1Yx8Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'inicio' %}">
                        <!-- <img src="images/version/tech-logo.png" alt=""> -->
                        <img class="logo" src="{%static 'img/logo-n.png'%}" alt="logo">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
                            </li>
                            <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                                <a class="nav-link dropdown-toggle " href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todas las ODS</a>
                                <ul class="dropdown-menu megamenu  " aria-labelledby="dropdown01">
                                    <li>
                                        <div class="container">
                                            <div class="mega-menu-content clearfix">
                                                <div class="tab w-100 p-3">

                                                    {% getCategorias as categorias %}

                                                    <div class="row">

                                                            {% for categoria in categorias %}
                                                                <div class="col-md-6">
                                                                    <a class="tablinks  d-block p-1" href="{% url 'posts:detalle_posts_ods' categoria.pk %}"> <img class="rounded" src="{{categoria.imagen.url}}" width="30px">&nbsp; {{forloop.counter}}. {{categoria.nombre}}</a>
                                                                </div>
                                                            {% endfor %}

                                                    </div>

                                                    <!-- <button class="tablinks active" onclick="openCategory(event, 'cat01')">Science</button> -->
                                                </div>

                                                
                                            </div><!-- end mega-menu-content -->
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'posts:listar_posteos' %}">Posteos</a>
                            </li>                   
                            <li class="nav-item">
                                <a class="nav-link" href="tech-contact.html">Contacto</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-2">
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="https://github.com/ChicalaAle/proyectoinformatorio"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>


                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'posts:nuevo_post'%}" class="nav-link text-capitalize"><small>  <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Nuevo post</small> </a>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link text-capitalize"> <small> Bienvenido, {{user.username}}! </small></span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}"> <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
                            </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}"> Iniciar sesión </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'usuarios:registrar' %}"> Registrarse </a>
                                </li>
                            {% endif %}

                            
                        </ul>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->
        {%block contenido%}
        {%endblock contenido%}

        <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 356.94,54.78 502.54,121.88 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(0, 0, 0);"></path></svg></div>

        <!-- <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-230.52,232.41 C86.05,-21.19 409.42,-18.23 632.34,192.94 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(0, 0, 0);"></path></svg></div> -->

        <!-- <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-3.67,123.86 C253.67,-5.41 254.22,-5.41 502.54,121.88 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(241, 15, 128);"></path></svg></div> -->
        
    <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="{% url 'inicio' %}"><img src="{%static 'img/logo.png'%}" alt="" class="img-fluid"></a>
                                <p>Eco Blog permite la difusión, visibilización y debate sobre iniciativas que contribuyan al cumplimiento de los 17 Objetivos de Desarrollo Sostenible (17 ODS) incluidos en la Agenda 2030 de la ONU.</p>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-globe" aria-hidden="true"></i> www.ecoblog.com</a>
                                </div>

                                <hr class="invis">

                                <div class="newsletter-widget text-left">
                                    <!-- <form class="form-inline">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                                    </form> -->
                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ml-5">
                        <div class="widget">
                            <h2 class="widget-title">Integrantes</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="https://www.linkedin.com/in/alechicala/" target="_blank" >Alejandro Chicala <span>(P.M & Dev)</span> </a></li>
                                    <li><a href="https://www.instagram.com/flor_galarza_/" target="_blank" >Florencia Galarza <span>(Video & Dev)</span> </a></li>
                                    <li><a href="#" target="_blank" >Ricardo Maidana <span>(Video & Dev)</span> </a></li>
                                    <li><a href="https://www.linkedin.com/in/campiasjuan/" target="_blank" >Juan Campias <span>(Guión & Dev)</span> </a></li>
                                    <li><a href="#" target="_blank" >William Aquino <span>(Guión & Dev)</span> </a></li>
                                    <li><a href="https://api.whatsapp.com/send?phone=5493624066512&text=Hola, *Roberto Marsuzzi* vi tu proyecto del informatorio Ecoblog" target="_blank" >Roberto Marsuzzi <span>(Dev)</span> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Páginas útiles</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="#">Todas las ods</a></li>
                                    <li><a href="#">Advertising</a></li>
                                    <li><a href="#">Write for us</a></li>
                                    <li><a href="#">Trademark</a></li>
                                    <li><a href="#">License & Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">&copy; Eco Blog {% now "Y" %}. <br> {% now "d M" %}, Informatorio Chaco</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->
        
</body>
</html>