{%extends 'base.html'%}
{%block contenido%}

        <div style=" padding: 0 10px; margin-top: 4.5rem;">
            <h2 style=" padding: 10px; margin: 0; background-color: rgb(248, 248, 248);">Nuevas actualizaciones</h2>

        </div>

        <section style="margin-top: 1rem;" class="section first-section top-images">
            <div class="container-fluid">
                <div class="masonry-blog clearfix">

                    {% for post in toptres%}

                    {% if forloop.counter == 1 %}
                        <div class="first-slot slot">
                    {% elif forloop.counter == 2 %}
                        <div class="second-slot slot">
                    {% elif forloop.counter == 3 %}
                        <div class="last-slot slot">
                    {% endif %}

                        <div class="masonry-box post-media">
                             <img src="{{post.imagen.url}}" alt="" class="img-fluid x748-443">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-orange"><a href="{% url 'posts:detalle_posts_ods' post.id_categoria.pk %}" title="">{{post.id_categoria}}</a></span>
                                        <h4><a href="{% url 'posts:detalle_post' post.pk %}" title="">{{post.titulo}}</a></h4>
                                        <small><a href="tech-single.html" title="">{{post.fechaCreacion}}</a></small>
                                        <!-- <small><a href="tech-author.html" title=""><i class="fa fa-comment"></i> 1000</a></small> -->
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end first-side -->

                    {% endfor %}


                </div><!-- end masonry -->
            </div>
        </section>

        

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-top clearfix">
                                <h4 class="pull-left">Posteos más recientes <a href="#"><i class="fa fa-rss"></i></a></h4>
                            </div><!-- end blog-top -->
                            <div class="blog-list clearfix">
                                
                                {% for post in posteos %}

                                        
                                
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="{% url 'posts:detalle_post' post.pk %}" title="">
                                                <img src="{{post.imagen.url}}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    
                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="{% url 'posts:detalle_post' post.pk %}" title="">{{post.titulo}} </a></h4>
                                        <p>{{post.descripcion}}</p>
                                        <small class="firstsmall"><a class="bg-orange" href="{% url 'posts:detalle_posts_ods' post.id_categoria.pk %}" title="">{{post.id_categoria}}</a></small>
                                        <small><a href="{% url 'posts:detalle_post' post.pk %}" title="">{{post.fechaCreacion}}</a></small>
                                        
                                        
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                

                                <hr class="invis">

                                {% endfor %}

                                <!-- SEPARADOR -->
                                    <div class="row">
                                        <div class="col-lg-10 offset-lg-1">
                                            <div class="banner-spot clearfix">
                                                <div class="banner-img">
                                                    <img src="" alt="" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                


                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="p1.jpg" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Últimos 3 posteos</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">

                                        {% for post in toptres %}

                                        <a href="{% url 'posts:detalle_post' post.pk %}" class="list-group-item list-group-item-action flex-column align-items-start widget-filter">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{post.imagen.url}}" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1">{{post.titulo}}</h5>
                                                <small>{{post.fechaCreacion}}</small>
                                            </div>
                                        </a>

                                        {% endfor %}

                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Todas las ODS:</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">

                                        {% for ods in allOds %}

                                        <a href="{% url 'posts:detalle_posts_ods' ods.pk %}" class="list-group-item list-group-item-action flex-column align-items-start widget-filter">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{ods.imagen.url}}" alt="" class="img-fluid float-left rounded">
                                                <h5 class="mb-1">{{ods.nombre}}</h5>
                                                <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </a>
                                        
                                        {% endfor %}

                                        
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

                            <!-- <div class="widget">
                                <h2 class="widget-title">Follow Us</h2>

                                <div class="row text-center">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button facebook-button">
                                            <i class="fa fa-facebook"></i>
                                            <p>27k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button twitter-button">
                                            <i class="fa fa-twitter"></i>
                                            <p>98k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button google-button">
                                            <i class="fa fa-google-plus"></i>
                                            <p>17k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button youtube-button">
                                            <i class="fa fa-youtube"></i>
                                            <p>22k</p>
                                        </a>
                                    </div>
                                </div>
                            </div> -->

                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="p2.jpg" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
    {%endblock contenido%}

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="index.html"><img src="images/version/tech-footer-logo.png" alt="" class="img-fluid"></a>
                                <p>Tech Blog is a technology blog, we sharing marketing, news and gadget articles.</p>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                </div>

                                <hr class="invis">

                                <div class="newsletter-widget text-left">
                                    <form class="form-inline">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                                    </form>
                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Popular Categories</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="#">Marketing <span>(21)</span></a></li>
                                    <li><a href="#">SEO Service <span>(15)</span></a></li>
                                    <li><a href="#">Digital Agency <span>(31)</span></a></li>
                                    <li><a href="#">Make Money <span>(22)</span></a></li>
                                    <li><a href="#">Blogging <span>(66)</span></a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Copyrights</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Advertising</a></li>
                                    <li><a href="#">Write for us</a></li>
                                    <li><a href="#">Trademark</a></li>
                                    <li><a href="#">License & Help</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">&copy; Tech Blog. Design: <a href="http://html.design">HTML Design</a>.</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.23.3/js/medium-editor.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- include the texteditor script -->

    <!-- Include the Quill library
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

     Initialize Quill editor -->
    <script>
    var editor = new MediumEditor('#editor');


    // var quill = new Quill('#editor', {
    //     modules: {
    //         toolbar: true
    //     },
    //     theme: 'snow'
    // });
    </script> -->

</body>
</html>