{% extends 'base.html' %}

{% block contenido %}
 
    <form action="#" method="POST">
        {%csrf_token%}
        <section class="form-login formulario-login">
            <h5>Iniciar sesión en Ecoblog</h5>
            <input class="controls" type="text" name="username" value="" placeholder="Usuario...">
            <input class="controls" type="password" name="password" value="" placeholder="Contraseña...">
            <button class="buttons" type="submit" name="">Iniciar sesión <i class="fa fa-sign-in" aria-hidden="true"></i></button>
            <p><a href="https://github.com/ChicalaAle/proyectoinformatorio" target="_blank">Visitá el proyecto en github.com</a></p>
        </section>
    </form>
{% endblock contenido %}