{% extends 'base.html' %}

{% block contenido %}
 
    <form action="#" method="POST">
        {%csrf_token%}
        <section class="form-login formulario-login">
            <h5>Formulario login</h5>
            <input class="controls" type="text" name="username" value="" placeholder="usuario">
            <input class="controls" type="password" name="password" value="" placeholder="contraseña">
            <input class="buttons" type="submit" name="" value="ingresar">
            <p><a href="#">¿olvidaste tu contraseña?</a></p>
        </section>
    </form>
{% endblock contenido %}