{% extends 'base.html' %}

{% block contenido %}
 
    <form action="#" method="POST">
        {%csrf_token%}
        <section class="form-login formulario-login">
            <h5>Formulario login</h5>
            <input class="controls" type="text" name="username" value="" placeholder="Usuario...">
            <input class="controls" type="password" name="password" value="" placeholder="Contraseña...">
            <button class="buttons" type="submit" name="">Iniciar sesión <i class="fa fa-sign-in" aria-hidden="true"></i></button>
            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        </section>
    </form>
{% endblock contenido %}