{% extends 'base.html' %}

{% block contenido %}

    <section class="form-login formulario-login">
        <h5>Registro</h5>
        <input class="controls" type="text" name="usuario" value="" placeholder="Nombre">
        <input class="controls" type="text" name="usuario" value="" placeholder="Apellido">
        <input class="controls" type="text" name="usuario" value="" placeholder="Email">
        <input class="controls" type="text" name="usuario" value="" placeholder="usuario">
        <input class="controls" type="password" name="contraseña" value="" placeholder="contraseña">
        <input class="buttons" type="submit" name="" value="ingresar">
        <p><a href="#">¿olvidaste tu contraseña?</a></p>
    </section>

{% endblock contenido %}